@mixin devices($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tiny {    
    @media  (min-width: 330px) and (orientation: portrait){
      @content;
    }
  }
 
  @if $breakpoint == phone {
    @media (min-width: 360px) and (orientation: portrait){
      @content;
      
    }
  } 
  
    @if $breakpoint == phlet {    
    @media (min-width: 480px) and (orientation: landscape) {
      @content;
    }
  }
 
  @if $breakpoint == thone {
    @media (min-width: 600px) and (orientation: landscape){
      @content;
    }
  }
  @if $breakpoint == view {
    @media (min-width: 800px) and (orientation: landscape){
      @content;
    }
  }
    @if $breakpoint == tablet {    
    @media (min-width: 768px) and (orientation: portrait){
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1000px) {
      @content;
    }
  }
    @if $breakpoint == bigDesktop {    
    @media (min-width: 1200px) {
      @content;
    }
  }
 
  @if $breakpoint == giant {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

.project-container{
    width: 72%;
    position: absolute;
    top: 16vh;
    left: 13.5%;
    text-align: center;
    overflow-y: scroll;
    height: 68vh;
    
    
    @include devices(phone){
        height: 67vh;
    }
    @include devices(phlet){
        height: 70vh;
    }
    @include devices(thone){
        height: 67vh;
    }
    
}
.cont{
  @include devices(view){
    display: flex;
    justify-content: space-between;
  }
}
.image-container1{
  @include devices(view){
    margin-top: 8vh;
    margin-bottom: 8vh;
  }
}
.image{
    border: 4px solid black;
    width: 85%;
    height: 60vh;

    @include devices(phlet){
        width: 60%;
        height: 80vh;
    }
    @include devices(thone){
        width: 50%;
        border: 6px solid black;
    }
    @include devices(view){
        width: 50%;
        border: 6px solid black;
    }
    @include devices(desktop){
      width: 60%;
      height: 80vh;
  }
    @include devices(bigDesktop){
      width: 50%;
      height: 80vh;
  }

}
.props{
  @include devices(view){
    width: 50%;
    padding-left: 5%;
    padding-right: 0;
    padding-top: 5%;
  }
  @include devices(desktop){
    padding-right: 0;

  }
}
.description{
    text-align: justify;
    @include devices(phone){
        font-size: 1rem;
    }
    @include devices(phlet){
        font-size: 0.6rem;
    }
    @include devices(thone){
        font-size: 0.8rem;
    }
    @include devices(tablet){
        font-size: 1.6rem;
    }
    @include devices(view){
        font-size: 0.7rem;
    }
    @include devices(desktop){
        font-size: 1rem;
    }
    @include devices(bigDesktop){
        font-size: 1.3rem;
    }
    
}
.title{
    color: black;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 2vh;

    @include devices(phone){
        font-size: 1.5rem;
    }
    @include devices(phlet){
        font-size: 1rem;
    }
    @include devices(thone){
        font-size: 1rem;
    }
    @include devices(tablet){
        font-size: 2.1rem;
    }
    @include devices(view){
        font-size: 1rem;
    }
    @include devices(desktop){
        font-size: 1.3rem;
    }
    @include devices(bigDesktop){
        font-size: 1.7rem;
    }
}
.view{
    margin-top: 2vh;
    margin-bottom: 8vh;
    width: 60%;
    height: 8vh;
    background: black;
    color: white;
    border: none;
    box-shadow: 0 0 5px rgb(83, 83, 83);
    cursor: pointer;
    font-size: medium;
    font-weight: 100;

    @include devices(phlet){
        width: 30%;
        font-weight: lighter;
        font-size: 0.6rem;
    }
    @include devices(thone){
        font-size: 0.8rem;
        width: 30%;
        font-weight: lighter;
    }
    @include devices(tablet){
        font-size: 1.5rem;
        width: 40%;
        font-weight: lighter;
    }
    @include devices(view){
      font-size: 0.7rem;
  }
    @include devices(desktop){
      width: 50%;
      font-size: 0.9rem;
  }
    @include devices(bigDesktop){
      width: 40%;
      font-size: 1rem;
  }
    &:hover{
        background: white;
        color: black; 
        transition: background 1s;
    }
}
.v1{
    margin-bottom: 0;
}
ul{
  list-style: none;
    @include devices(phlet){
        font-size: 0.6rem;
    }
    @include devices(thone){
        font-size: 0.8rem;
    }
    @include devices(tablet){
        font-size: 1.6rem;
    }
    @include devices(view){
        font-size: 0.8rem;
    }
    @include devices(desktop){
        font-size: 1rem;
        
    }
    @include devices(bigDesktop){
        font-size: 1.3rem;
        
    }
    
}