*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
.background{
    background: url("/src/assets/bg_bggenerator_com.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 2vh;
    /* -webkit-filter: blur(2px);
    filter: blur(2px); */

}