@mixin devices ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tiny {    
    @media  (min-width: 330px) and (orientation: portrait){
      @content;
    }
  }
 
  @if $breakpoint == phone {
    @media (min-width: 390px) and (orientation: portrait){
      @content;
      
    }
  }
  
  @if $breakpoint == phlet {    
    @media (min-width: 480px) and (orientation: landscape) {
      @content;
    }
  }
 
  @if $breakpoint == thone {
    @media (min-width: 600px) and (orientation: landscape){
      @content;
    }
  }
    @if $breakpoint == tablet {    
    @media (min-width: 768px) and (orientation: portrait){
      @content;
    }
  }
  @if $breakpoint == view {
    @media (min-width: 800px) and (orientation: landscape){
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1000px) {
      @content;
    }
  }
    @if $breakpoint == bigDesktop {    
    @media (min-width: 1200px) {
      @content;
    }
  }
 
  @if $breakpoint == giant {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

.home-page-container{
    padding: 10px;
    @include devices(phlet){
      padding-top: 5px;
      padding-bottom: 5px;
    }
    @include devices(desktop){
      padding-top: 10px;
      padding-bottom: 10px;
    }
}   

.content-container{
    width: 90%;
    height: 81vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    background-color: grey;


    border: none;
    padding-left: 1vh;
    box-shadow: 0 0 5px #00000050;


}


